<h1><%= t('posts.index.title') %></h1>

<% if @posts.any? %>  
  <section id="posts">
    <%= render @posts %>
  </section>    
  <div class="digg_pagination">
    <%= will_paginate %>
  </div>
<% end %>


